/** @format */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  background-color: unset;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 30px;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}
input[type=number]::-webkit-inner-spin-button {
  display: none;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .btn-close {
  box-shadow: none !important;
  background-image: url("/images/icons/close.svg");
  margin-inline-start: auto !important;
  margin-inline-end: 0 !important;
}
.modal-header h6 {
  color: #0d0d0d;
  margin-bottom: 0;
}

.Toastify__toast-body {
  direction: ltr !important;
}

.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
:root {
  --bs-border-radius-lg: 24px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

.closeModal {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1019607843);
}
.closeModal i {
  color: #0d0d0d;
}

.customBtn {
  border: none;
  outline: none;
  background: none;
  isolation: isolate;
  padding: 12px 16px;
  width: 160px;
  margin: auto;
  border: 1px solid #1abc9c;
  color: #1abc9c;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.customBtn::after {
  position: absolute;
  content: "";
  height: 1000px;
  width: 0;
  right: 50%;
  transition: 0.3s ease-in-out;
  background: #1abc9c;
  transform: rotate(-25deg);
  z-index: -1;
}
.customBtn:hover {
  color: #fff;
  border-color: #1abc9c;
}
.customBtn:hover::after {
  width: 110%;
  right: -10px;
}

.getAppModal {
  text-align: center;
}
.getAppModal .modal-body {
  padding: 24px;
}
.getAppModal .modalHeader {
  position: relative;
}
.getAppModal .modalHeader .btn-close {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.getAppModal .modalBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.getAppModal .modalTitle {
  flex: 1;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .getAppModal .modalTitle {
    font-size: 24px;
  }
}
.getAppModal .modalTitle span {
  color: #1abc9c;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .getAppModal .modalTitle span {
    font-size: 24px;
  }
}
.getAppModal .qrcode {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.getAppModal .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.getAppModal .btns img {
  height: 42px;
}

.css-t3ipsp-control {
  border-color: #eeeeee !important;
  box-shadow: none !important;
}
.css-t3ipsp-control:hover {
  background-color: #fff !important;
}

.css-13cymwt-control {
  border-color: #eeeeee !important;
}

.select__indicator-separator {
  display: none !important;
}

.select__menu {
  z-index: 999999 !important;
}

.modal-backdrop {
  --bs-backdrop-opacity: 0.7;
}

.image_laoder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  opacity: 0;
  background: #e9e9e9;
  transition: 0.3s ease-in-out;
}
.image_laoder.laoding {
  opacity: 1;
}

.tableLoader {
  min-height: 548px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tableLoader .loader--style8 {
  width: 40px;
  height: 40px;
}
.tableLoader svg path,
.tableLoader svg rect {
  stroke: #1abc9c;
}

.data-loader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.data-loader .loader--style8 {
  width: 80px;
  height: 80px;
}
.data-loader svg path,
.data-loader svg rect {
  fill: #1abc9c;
}

a,
button {
  transition: 0.3s ease-in-out;
}

.back-to-top {
  position: fixed;
  z-index: 99;
  right: 8px;
  bottom: 88px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  transform: translateY(30px);
}
.back-to-top.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.back-to-top::before {
  position: absolute;
  font-family: "Font Awesome 6 Pro";
  content: "\f062";
  text-align: center;
  line-height: 45px;
  opacity: 1;
  height: 45px;
  width: 45px;
  font-size: 16px;
  font-weight: 600;
  color: #1abc9c;
}
.back-to-top svg.progress-circle path {
  stroke: #1abc9c;
  stroke-width: 4;
}

.form-check-input {
  cursor: pointer;
  box-shadow: none !important;
}
.form-check-input:focus {
  border-color: var(--bs-border-color);
}
.form-check-input:checked {
  background-position: right center;
  background-image: url("/images/icons/check-checked-icon.svg");
  border-color: #1abc9c;
}

.dropdown-toggle::after {
  display: none;
}

.css-mohuvp-dummyInput-DummyInput {
  left: 0 !important;
}

.css-1hac4vs-dummyInput {
  width: 0 !important;
}

.fit_content {
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 0 48px;
}

.noComments {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaaaaa;
}

.topPage {
  background: linear-gradient(to bottom, #d1ecdc, white);
  padding: 40px;
}
.topPage .text {
  margin-bottom: 20px;
}
.topPage .text h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.topPage .text p {
  font-size: 16px;
  color: #8a8c8b;
}

header {
  position: sticky !important;
  top: 0;
  right: 0;
  width: 100%;
  background-color: white;
  z-index: 11110;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px !important;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.119);
}

.navbar-active {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  right: 0;
  z-index: 100;
  background: white;
  transition: all 0.5s;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  text-decoration: none;
}

.nav-item {
  display: flex !important;
  align-items: center;
}
.nav-item li .active {
  color: #009640;
  border-bottom: 2px solid #009640;
}

.closeHeader {
  display: none;
  position: absolute;
  top: 0px;
  right: 15px;
  background-color: #009640;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bars {
  display: none;
}

.navbar ul li a {
  color: black;
  font-weight: 500;
  transition: all 0.4s;
}

.navbar ul li a:hover {
  color: #009640;
}

.navbar .icon li {
  background-color: #f8f8f8;
  padding: 6px 10px;
  border-radius: 50%;
}

.navbar .icon i {
  background: linear-gradient(to bottom, #009640, rgba(255, 255, 255, 0.468));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.hero {
  background: url("images/yB9HOIoCBq1719990701.webp");
  background-size: cover;
  background-position: center;
  height: 100px;
  border-radius: 10px;
  position: relative;
  isolation: isolate;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  isolation: isolate;
  z-index: -1;
  border-radius: 10px;
}

.hero h2 {
  color: white;
  text-align: center;
  padding-top: 30px;
}

.all-jobs {
  display: grid;
  grid-template-columns: 70% 1fr;
}

.Favorites-Resumes {
  margin-top: 20px;
  background-color: #f2faf5;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.Favorites-Resumes h5 {
  margin: 5px 0 20px 0;
}
.Favorites-Resumes .Links {
  display: flex;
  justify-content: space-between;
}
.Favorites-Resumes .Links button {
  background-color: #009640;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.Favorites {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 20px;
}

@media (max-width: 980px) {
  .all-jobs {
    grid-template-columns: 100%;
    margin-bottom: 50px;
  }
}
.all-jobs .left-content {
  width: 100%;
  padding: 10px;
}

.left-content .button-apply {
  float: right;
  margin-top: 15px;
  border: none;
  background-color: #009640;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .left-content .button-apply {
    font-size: 11px !important;
    padding: 0;
    width: 140px !important;
  }
  .hero h2 {
    font-size: 20px;
  }
}
.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 35px;
  margin: 60px 0px 10px 0px;
  overflow-x: scroll;
  background-color: #f8f8f8;
  padding: 5px;
  border-radius: 15px;
  transition: all 0.4s ease;
}

.category img {
  height: 32px;
  aspect-ratio: 1;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.categoryInfo {
  transition: all 0.4s ease;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.categoryInfo p {
  margin: 0;
  white-space: nowrap;
  transition: all 0.4s ease-in-out;
  font-weight: 700;
}
.categoryInfo.active {
  background-color: #d1ecdc;
  color: #009640;
}

.categoryInfo:hover {
  background-color: #d1ecdc;
}

.categoryInfo:hover p {
  color: #009640;
}

.category::-webkit-scrollbar {
  display: none;
}

.jobs {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 30px 0px 10px 0px;
  overflow-x: scroll;
}

.jobs .img-job {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.jobs .img-job:hover {
  color: #009640;
}

.jobs img {
  width: 100px;
  aspect-ratio: 1;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 12px;
}

.jobs h6 {
  margin: 10px 0 0 0;
  white-space: nowrap;
  transition: all 0.4s ease-in-out;
}

.jobs::-webkit-scrollbar {
  display: none;
}

.selects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}

.selects::-webkit-scrollbar {
  display: none !important;
}

.select {
  width: 180px;
  margin: 30px 2px;
}

.Select-re {
  padding: 10px 15px;
  background-color: white;
  border-radius: 10px;
  color: #888;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
}

.selects button {
  background-color: #ebe9e9;
  width: 170px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 14px;
}

.selects button:focus {
  background-color: #009640;
  color: white;
}

@media (min-width: 902px) and (max-width: 1150px) {
  .select {
    width: 100px !important;
  }
  .selects button {
    background-color: #ebe9e9;
    width: 150px !important;
  }
}
@media (min-width: 340px) and (max-width: 900px) {
  .select {
    width: 90px;
  }
  .selects button {
    background-color: #ebe9e9;
    width: 130px;
  }
}
.input {
  position: relative;
  width: 100%;
}

.input .label {
  position: absolute;
  top: -11px;
  left: 10px;
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.JobsByCategory {
  width: 100%;
}
.JobsByCategory .top-swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0 20px 0;
}
.JobsByCategory .top-swiper h6 {
  font-size: 17px;
  font-weight: 700;
}
.JobsByCategory .top-swiper a {
  color: #009640;
  font-weight: 600;
}
.JobsByCategory img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.JobsByCategory .link {
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}
.JobsByCategory .link .imge {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.JobsByCategory .link .imge img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 20%;
  object-position: 50% 20%;
}
.JobsByCategory .link .title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 61.5%, #000000 100%);
  display: flex;
  align-items: flex-end;
  padding: 14px;
}
.JobsByCategory .link .title h6 {
  color: #ffffff;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.Nationalities {
  width: 100%;
  margin-top: 40px;
}
.Nationalities .top-swiper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0 20px 0;
}
.Nationalities .top-swiper h6 {
  font-size: 17px;
  font-weight: 700;
}
.Nationalities .top-swiper a {
  color: #009640;
  font-weight: 600;
}
.Nationalities .NationalitiesCompany {
  background: #f8f8f8;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
  border-radius: 12px;
  flex-direction: column;
}
.Nationalities .NationalitiesCompany .img {
  height: 70px;
  width: 100%;
}
.Nationalities .NationalitiesCompany .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.Nationalities .NationalitiesCompany .img h6 {
  color: #1d1d1b;
  font-weight: 600;
  margin: 0;
}

.footer {
  margin-top: 50px;
  background-color: white;
  color: black;
  padding: 20px;
  border-top: 1px solid #ccc;
  transition: all 0.1s;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer .content {
  width: 100%;
}
.footer .logo-img img {
  margin: 10px 0;
  width: 60px;
}
.footer p {
  margin-top: 10px;
  font-size: 14px;
}
.footer li {
  display: flex;
  gap: 3px;
  align-items: center;
  margin: 6px 0;
}
.footer a {
  color: #8b8fa5;
  font-weight: 500;
  transition: all 0.5s;
}
.footer #iconNone {
  display: none;
  transition: all 0.5s;
}
.footer li:hover #iconNone {
  display: block;
  cursor: pointer;
  color: #009640;
}
.footer li:hover a {
  color: #009640;
}
.footer h3 {
  font-size: 23px;
  margin-bottom: 10px;
}
.footer #download li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 50px;
  background-color: #f8f8f8;
  width: 70%;
  height: 40px;
  transition: all 0.4s;
}
.footer #download li .button {
  margin: auto;
}
.footer #download li .button i {
  margin-right: 5px;
}
.footer #download li:hover {
  background-color: #009640;
  color: white;
}
.footer #download li:hover button {
  color: white;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px;
  border-top: 1px solid rgba(204, 204, 204, 0.9254901961);
}
.copyright a {
  color: #009640;
  font-weight: 500;
}
.copyright .icon {
  display: flex;
  gap: 10px;
}
.copyright .icon i {
  background-color: white;
  border-radius: 50%;
  padding: 7px;
  color: #8b8fa5;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}
.copyright .icon i:hover {
  border: 1px solid #009640;
  background-color: #009640;
  color: white;
  transform: translateY(-6px);
}

.Explore {
  background: linear-gradient(to bottom, #d1ecdc, white 3%);
}
.Explore .top-container {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Explore .top-container h2 {
  font-size: 30px;
  font-weight: 700;
}
.Explore .top-container p {
  font-size: 16px;
  color: #8a8c8b;
}
.Explore .top-container .text-right button {
  background: #009640;
  color: white;
  border: none;
  width: 200px;
  height: 55px;
  font-size: 18px;
  border-radius: 10px;
}

.Explore .Select-re {
  width: 100%;
}

.About .col-md-6:nth-child(1) {
  margin-right: 10px;
}
.About .content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.About .content h6 {
  font-size: 18px;
  color: #009640;
}
.About .content h1 {
  margin: 10px 0 30px 0;
  font-weight: 500;
  font-size: 45px;
}
.About .content p {
  color: black;
  font-weight: 400;
}
.About .content button {
  background: #009640;
  color: white;
  border: none;
  width: 180px;
  height: 40px;
  font-size: 18px;
  border-radius: 9px;
  margin-bottom: 10px;
}
.About .image {
  position: relative;
  width: 100%;
}
.About .image .banner {
  max-width: 100%;
  max-height: 480px;
  animation: hero-thumb-animation 4s linear infinite alternate;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.About .image .massage .congratulation {
  position: absolute;
  top: 15%;
  left: 0;
  animation: move-right-left 3s linear infinite alternate;
}
.About .image .massage .web {
  position: absolute;
  bottom: 1%;
  left: -15%;
  animation: hero-thumb-animation 4s linear infinite alternate;
}
@keyframes hero-thumb-animation {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes move-right-left {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(-70px);
  }
}
.About .comment {
  margin-top: 50px;
}
.About .comment .text {
  text-align: center;
  margin-bottom: 30px;
}
.About .comment .text h5 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}
.About .comment .comments-swiper {
  display: flex;
  padding: 15px;
  border: 1px solid rgba(204, 204, 204, 0.2196078431);
  border-radius: 10px;
}
.About .comment .comments-swiper .content .icon-star {
  color: gold;
  margin-bottom: 4px;
}
.About .comment .comments-swiper .content .icon-star i {
  margin-right: 2px;
}
.About .comment .comments-swiper .content p {
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
  color: #666b88;
}
.About .comment .comments-swiper .content .name {
  display: flex;
  justify-content: space-between;
}
.About .comment .comments-swiper .content .name h6 {
  font-weight: 700;
  font-size: 16px;
}
.About .comment .comments-swiper .content .name p {
  font-size: 14px;
}
.About .comment .comments-swiper .img img {
  width: 100px;
  height: 100px;
  filter: grayscale(1);
}
.About .Exceptional {
  background: url(/images/banner_resumes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 0;
  width: 100%;
  height: 240px;
  margin: 100px 0 10px 0;
}
.About .Exceptional h3 {
  margin: 10px 0;
  font-size: 25px;
  font-weight: 700;
  color: white;
  text-align: center;
}
.About .Exceptional p {
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.About .Exceptional .img-platForm {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.About .Exceptional .img-platForm img {
  width: 140px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .Exceptional {
    height: 280px !important;
  }
}
.Connect .top-container {
  padding: 20px;
}
.Connect .top-container h2 {
  font-size: 30px;
  font-weight: 500;
}
.Connect .form form {
  position: relative;
}
.Connect .form h2 {
  font-size: 40px;
  font-weight: 700;
  color: #009640;
}
.Connect .form p {
  font-size: 14px;
  color: #8a8c8b;
  margin-bottom: 20px;
}
.Connect .form .input {
  position: relative;
  width: 100%;
}
.Connect .form .input span {
  position: absolute;
  top: 24px;
  left: 13px;
  color: black;
  font-weight: 500;
  transition: all 0.3s ease;
}
.Connect .form .input input {
  background: white;
  width: 100%;
  padding: 13px;
  border: 1px solid rgba(128, 128, 128, 0.356);
  margin: 10px 0;
  border-radius: 10px;
  outline: none;
}
.Connect .form .input textarea {
  background: white;
  width: 100%;
  padding: 13px;
  border: 1px solid rgba(128, 128, 128, 0.356);
  margin: 10px 0;
  border-radius: 10px;
  height: 200px;
  outline: none;
}
.Connect .form .inputs {
  width: 100%;
  display: flex;
}
.Connect .form .inputs input {
  margin-right: 5px;
  width: 98%;
}
.Connect .form button {
  float: right;
  background-color: #009640;
  color: white;
  padding: 11px 28px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.Connect input:focus + span,
textarea:focus + span {
  top: -2px !important;
  background-color: white;
}

.Login .form h3 {
  font-size: 30px;
  font-weight: 700;
}
.Login .form .Please {
  font-size: 16px;
  color: #8a8c8b;
}
.Login .form form .changeLogin {
  display: flex;
  gap: 10px;
  border-bottom: 3px solid #eee;
  cursor: pointer;
  color: #257cfd;
  margin-bottom: 20px;
  position: relative;
}
.Login .form form .changeLogin p {
  transition: all 0.6s ease-in-out;
}
.Login .form form .changeLogin .active {
  color: #009640;
  position: relative;
  transition: all 0.6s ease-in-out;
}
.Login .form form .changeLogin p.active::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 3px;
  background: #009640;
  bottom: -82%;
  left: 0;
  transition: all 0.4s ease-in-out;
  animation: scaleX 1s;
}
@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.Login .form form .inputs {
  position: relative;
}
.Login .form form .inputs input {
  background: white;
  width: 100%;
  padding: 13px;
  border: 1px solid rgba(128, 128, 128, 0.356);
  margin: 0px 0 20px 0;
  border-radius: 10px;
  outline: none;
}
.Login .form form .inputs span {
  position: absolute;
  top: 20%;
  left: 15px;
  color: black;
  font-weight: 700;
  font-size: 13px;
  transition: 0.2s ease;
  background-color: white;
}
.Login .form form .inputs input:focus + span {
  top: -10px;
}
.Login .form form h6 {
  color: red;
  font-size: 15px;
  margin-bottom: 25px;
}
.Login .form form .continuing {
  color: #8e92a7;
}
.Login .form form .continuing span {
  color: #009640;
  font-weight: 500;
}
.Login .form form button {
  width: 100%;
  height: 45px;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  background-color: #009640;
}
.Login .form .orSignWith {
  padding: 16px 0 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login .form .orSignWith ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #e9e9e9;
  top: 55%;
  left: 0;
  transform: translateY(-50%);
  isolation: isolate;
  z-index: -1;
}
.Login .form .orSignWith span {
  color: #666b88;
  background: white;
  padding: 0 16px;
  z-index: 1;
}
.Login .form .platForm {
  display: flex;
  gap: 12px;
}
.Login .form .platForm a {
  height: 54px;
  border-radius: 12px;
  background: #f8f8f8;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.Login .form .platForm a img {
  width: 24px;
  height: 24px;
}
.Login .form .platForm a p {
  font-size: 17px;
  font-weight: 400;
  color: black;
  text-align: center;
  margin: 0;
}
.Login .image-container img {
  width: 100%;
}

.Notifications {
  position: fixed;
  top: 9%;
  z-index: 10000;
  right: 6%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  animation: fadeIn 1s;
}
.Notifications .icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Notifications .icon i {
  background: linear-gradient(to bottom, #009640, white);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.Notifications .icon h6 {
  color: #009640;
}
@keyframes fadeIn {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 300px;
    height: 200px;
  }
}

.faq h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #009640;
}

.privacy ol {
  margin: 0;
}
.privacy li,
.privacy p {
  font-size: 12px;
  color: #666b88;
  line-height: 24px;
}

.term ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.term p {
  font-size: 12px;
  color: #666b88;
  line-height: 24px;
}
.term .red {
  color: red;
}

.SidBarLogin {
  position: fixed;
  background-color: white;
  z-index: 1111111111111;
  top: 10.8%;
  right: 1px;
  padding: 20px;
  height: 100%;
  flex-direction: column;
  animation: showLogin 1s;
  width: 350px;
}
.SidBarLogin .overLay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.329);
  animation: showLoginOver 1s;
  width: calc(100vw - 351px);
  transition: 0.4s;
}
.SidBarLogin .all {
  border-radius: 20px;
  padding: 20px;
  background-color: #f8f8f8;
}
.SidBarLogin .all .userAccount {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.SidBarLogin .all .userAccount img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.SidBarLogin .all .userAccount h5 {
  font-size: 15px;
}
.SidBarLogin .all .userAccount p {
  font-size: 13px;
  color: #666b88;
}
.SidBarLogin .all .ChangesAccount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.SidBarLogin .all .ChangesAccount .spaceIcon {
  display: flex;
  gap: 10px;
  align-items: center;
}
.SidBarLogin .all .ChangesAccount .spaceIcon .FontIcon {
  font-size: 20px;
  color: #009640;
}
.SidBarLogin .all .ChangesAccount .spaceIcon h6 {
  margin-top: 10px;
  font-size: 14px;
  color: black;
}
.SidBarLogin .all #rightIcon {
  color: #888 !important;
}
.SidBarLogin .all :nth-child(8) i.FontIcon {
  color: red !important;
}
@keyframes showLogin {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 350px;
    height: 100%;
  }
}
@keyframes showLoginOver {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: calc(100vw - 351px);
    height: 100%;
  }
}

.individual {
  width: 50%;
  margin: auto;
}
.individual .displayImg {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  margin: 20px 0;
}
.individual .displayImg h2 {
  position: absolute;
  bottom: 3px;
  font-size: 30px;
  right: 42.8%;
  color: white;
  background-color: #009640;
  cursor: pointer;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 13px;
  border: 1px solid white;
}
.individual .displayImg img {
  width: 120px;
  height: 120px;
  border-radius: 50% !important;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  padding: 3px;
}
.individual .input {
  position: relative;
  width: 100%;
}
.individual .input span {
  position: absolute;
  top: 24px;
  left: 13px;
  color: black;
  font-weight: 500;
  transition: all 0.3s ease;
  opacity: 0;
}
.individual .input input {
  background: white;
  width: 100%;
  padding: 13px;
  border: 1px solid rgba(128, 128, 128, 0.356);
  margin: 10px 0;
  border-radius: 10px;
  outline: none;
}
.individual .input select {
  background: white;
  padding: 13px;
  border: 1px solid rgba(128, 128, 128, 0.356);
  margin: 10px 0;
  border-radius: 10px;
  outline: none;
  width: 100%;
}
.individual button {
  background-color: #009640;
  color: white;
  padding: 11px 28px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}

.individual input:focus + span,
select:focus + span {
  top: -2px !important;
  background-color: white;
  opacity: 1;
}

.Resumes {
  margin: 50px 0;
  width: 100%;
  height: 140px;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(60.11% 241.83% at 90.6% 28.57%, rgba(0, 150, 64, 0.35) 0%, #009640 100%);
  cursor: pointer;
}
.Resumes h2 {
  color: white;
}
.Resumes p {
  color: white;
  font-size: 15px;
}

.payment h6 b {
  font-size: 20px;
  font-weight: 700;
}
.payment button {
  background-color: #257cfd;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
}

.advertisements h2 {
  font-weight: 600;
}
.advertisements table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
}
.advertisements table th,
.advertisements table td {
  border: 1px solid black;
  padding: 10px;
}

.SelectJobs {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 98%;
  gap: 10px;
  width: 100% !important;
  overflow: hidden;
}
.SelectJobs .SelectJobsContainer {
  display: grid;
  grid-template-columns: repeat(3, 32.6666666667%);
  gap: 10px;
}
.SelectJobs button {
  margin: 30px auto 5px;
  background-color: #009640;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}

@media (max-width: 993px) {
  .SelectJobsContainer {
    grid-template-columns: repeat(2, 50%) !important;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .SelectJobs {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .SelectJobsContainer {
    grid-template-columns: repeat(2, 49%) !important;
    gap: 10px;
  }
}
@media (max-width: 550px) {
  .SelectJobsContainer {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
.userJobs {
  overflow: hidden;
  border: 1px solid #e9e9e9;
  padding: 4px;
  gap: 8px;
  border-radius: 100px 0 0 100px;
  display: flex;
  position: relative;
}
.userJobs .userJobsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.userJobs .userJobsContainer .imge img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.userJobs .userJobsContainer .userInfo {
  width: 100%;
}
.userJobs .userJobsContainer .userInfo .userDisplay {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userJobs .userJobsContainer .userInfo .userDisplay h4 {
  color: #1d1d1b;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.userJobs .userJobsContainer .userInfo .userDisplay i {
  cursor: pointer;
}
.userJobs .userJobsContainer .userInfo p {
  font-size: 11px;
  margin: 0;
  color: #666b88;
}

.Favorites .userJobsContainer,
.FavoritesResumes .userJobsContainer {
  overflow: hidden;
  border: 1px solid #e9e9e9;
  padding: 4px;
  gap: 8px;
  border-radius: 100px 0 0 100px;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  margin: 10px 0;
}
.Favorites .userJobsContainer .imge img,
.FavoritesResumes .userJobsContainer .imge img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.Favorites .userJobsContainer .userInfo,
.FavoritesResumes .userJobsContainer .userInfo {
  width: 100%;
}
.Favorites .userJobsContainer .userInfo .userDisplay,
.FavoritesResumes .userJobsContainer .userInfo .userDisplay {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Favorites .userJobsContainer .userInfo .userDisplay h4,
.FavoritesResumes .userJobsContainer .userInfo .userDisplay h4 {
  color: #1d1d1b;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Favorites .userJobsContainer .userInfo .userDisplay i,
.FavoritesResumes .userJobsContainer .userInfo .userDisplay i {
  cursor: pointer;
}
.Favorites .userJobsContainer .userInfo p,
.FavoritesResumes .userJobsContainer .userInfo p {
  font-size: 11px;
  margin: 0;
  color: #666b88;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #009640;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-container p {
  margin-top: 16px;
  font-size: 18px;
  color: #009640;
}

@media (max-width: 900px) {
  .Login .image-container {
    display: none;
  }
  .form {
    text-align: center;
  }
}
@media (max-width: 780px) {
  .bars {
    display: block !important;
  }
  .closeHeader {
    display: block;
  }
  .nav-item {
    position: fixed;
    flex-direction: column;
    background-color: white;
    z-index: 100;
    left: 0;
    top: 10.8%;
    width: 40%;
    height: 100%;
    padding: 30px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    animation: showNav 1s;
  }
  .nav-item li {
    margin: 30px 0;
  }
  .nav-item .overLay {
    display: block;
    position: fixed;
    top: 0;
    right: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
    width: 60%;
    transition: 0.4s;
    animation: overLay2 1s;
  }
  @keyframes showNav {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 40%;
      height: 100%;
    }
  }
  @keyframes overLay2 {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: calc(100vw - 310px);
      height: 100%;
    }
  }
  .container {
    flex-direction: column;
    width: 100%;
  }
  .copyright {
    flex-direction: column;
  }
  .Explore {
    background: linear-gradient(to bottom, #d1ecdc, white 1%);
  }
  .Favorites {
    grid-template-columns: repeat(1, 100%);
    gap: 0px;
  }
}
@media (max-width: 550px) {
  .Explore h2 {
    font-size: 26px !important;
  }
  .Explore p {
    font-size: 14px !important;
  }
  button {
    width: 150px !important;
    height: 50px !important;
    font-size: 13px !important;
  }
  .Connect .inputs {
    display: block !important;
  }
  .Connect .inputs input {
    width: 100% !important;
  }
  .Resumes {
    flex-direction: column !important;
    height: auto !important;
  }
  .individual h1 {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .Explore h2 {
    font-size: 23px !important;
  }
  .Explore p {
    font-size: 10px !important;
  }
  button {
    width: 120px !important;
    height: 40px !important;
    font-size: 13px !important;
  }
}/*# sourceMappingURL=main.css.map */